<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"f27-main f27-product-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull f27-main f27-product-single">
	<!-- wp:group {"align":"wide","className":"f27-product-single__hero","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide f27-product-single__hero">
		<!-- wp:group {"className":"f27-product-single__title","layout":{"type":"constrained"}} -->
		<div class="wp-block-group f27-product-single__title">
			<!-- wp:post-terms {"term":"f27_collection","className":"f27-post-terms"} /-->
			<!-- wp:post-title {"level":1,"fontSize":"display"} /-->
		</div>
		<!-- /wp:group -->
		<!-- wp:post-featured-image {"aspectRatio":"4/5","sizeSlug":"full","className":"f27-product-single__image"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"wide","className":"f27-product-single__body","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide f27-product-single__body">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
		<!-- wp:form27/configurator {"title":"Настройте модель"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
