<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"f27-main f27-case-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull f27-main f27-case-single">
	<!-- wp:group {"align":"wide","className":"f27-case-single__header","layout":{"type":"constrained","justifyContent":"left"}} -->
	<div class="wp-block-group alignwide f27-case-single__header">
		<!-- wp:post-title {"level":1,"fontSize":"display"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9","sizeSlug":"full","className":"f27-case-single__image"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:group {"align":"wide","className":"f27-case-single__next","layout":{"type":"constrained","justifyContent":"left"}} -->
	<div class="wp-block-group alignwide f27-case-single__next">
		<!-- wp:buttons -->
		<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline-signal"} --><div class="wp-block-button is-style-outline-signal"><a class="wp-block-button__link wp-element-button" href="/projects/">Все проекты</a></div><!-- /wp:button --></div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
